k8s {
   namespace           = 'acgt-ns'
   runAsUser           = 1000
   computeResourceType = 'Job'
   launchDir           = ''
   pullPolicy          = 'IfNotPresent'
}

executor {
  queueSize = 200
}

process {
   executor = 'k8s'
   container = 'biocontainers/bcftools:v1.9-1-deb_cv1'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [automountServiceAccountToken:false]]
}
